*.yy                text diff=json eol=lf
*.yyp               text diff=json eol=lf
*.resource_order    text eol=lf

*.gml               text diff=gml
*.md                text

*.png               binary